.content {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 30vw;
    color: white;
    padding: 10px;
    gap: 0;
    justify-content: center;
    margin: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 5px;
}
.date {
    display: flex;
    justify-content: flex-end;
    font-size: .8rem;
}