.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 12, 12, 0.829);
  font-family: 'Poppins', 'sans-serif';
  height: 100vh;
}